
/*nuevos Ajustes */
@media(min-width:768px) and (max-width:992px){
    label.p-mecanica{
        font-size: .8em;
    }
    h3.ingresa{
        font-size: .9em;
        line-height: 20px;
    }
    img.bolsa{
        width: 75%;
        -webkit-filter: drop-shadow(0px 0px 0px #ffff);
        filter: drop-shadow(30px 20px 180px #ffffff);
        
    }
}

@media(min-width:993px) and (max-width:1199px){
    label.p-mecanica{
        font-size: 1em;
    }
    h3.ingresa{
        font-size: 1.1em;
        line-height: 25px;
    }
    img.bolsa{
        width: 65%;
    
        -webkit-filter: drop-shadow(0px 0px 0px #ffff);
        filter: drop-shadow(30px 20px 180px #ffffff);
    }
}
@media(min-width:1200px){
    label.p-mecanica{
        font-size: 1.25em;
    }
    h3.ingresa{
        font-size: 1.4em;
        line-height: 30px;
    }
    img.bolsa{
        width: 50%;
        left: 10em;
        -webkit-filter: drop-shadow(0px 0px 0px #ffff);
        filter: drop-shadow(30px 20px 180px #ffffff);
    }
    img.flecha{
        margin: 0 auto;
    }
    h3.h-ganar{
        font-size: 1.8em;
        margin-top: 1.5rem!important;
    }
   
    p.won{
        font-size: 1.8em;
        
    }
}
@media(min-width:1200px) and (max-width:1360px){
    img.bolsa{
        left: 5em;
    }
}
@media(min-width:1400px) and (max-width:1500px){
    h3.h-ganar{
        margin-top: 3rem!important;
        font-size: 2em;
    }
    img.balon{
        position: relative;
        display: block;
        max-width: 15.78vw;
        margin: auto;
        top: 28em!important;
        
    }

}
@media(min-width:1500px) and (max-width:1599px){
    p.p-ticket{
        margin-top: rem!important;
    }
    img.balon{
        top: 30em!important;
    }
    h3.h-ganar{
        margin-top: 4rem!important;
        font-size: 2em;
    }
    p.won{
        font-size: 2em;
        
    }
}
@media(min-width:1600px) and (max-width:1700px){
    p.p-ticket{
        margin-top: 3rem!important;
    }
    img.balon{
        top: 34em!important;
        left: 5em;
    }
    h3.h-ganar{
        margin-top: 3rem!important;
        font-size: 2em;
    }
    img.jugador{
        position: relative;
        display: block;
        max-width:25.78vw;
        width: 25.78vw;
        margin: auto;
        padding: 5vw 0 0 0;
        right: 15.08vw;
        top: 5vw;
    }
}
@media(min-width:1600px) and (max-width:1700px){
    
    img.balon{
        top: 34em!important;
        left: 5em;
    }
    h3.h-ganar{
        margin-top: 4rem!important;
        font-size: 2em;
    }
    img.jugador{
        position: relative;
        display: block;
        max-width:25.78vw;
        width: 25.78vw;
        margin: auto;
        padding: 5vw 0 0 0;
        right: 15.08vw;
        top: 5vw;
    }
    img.walmart{
        width: 40%;
    }
    p.won{
        font-size: 2em;
        
    }
}
@media(min-width:1700px) and (max-width:1800px){
    p.p-ticket{
        margin-top: 3rem!important;
    }
    img.balon{
        top: 34em!important;
        left: 5em;
    }
    h3.h-ganar{
        margin-top: 6rem!important;
        font-size: 2em;
    }
    img.jugador{
        position: relative;
        display: block;
        max-width:25.78vw;
        width: 25.78vw;
        margin: auto;
        padding: 5vw 0 0 0;
        right: 15.08vw;
        top: 5vw;
    }
    img.walmart{
        width: 40%;
    }
    p.p-ticket{
        margin-top: 2rem!important;
        font-size: 1.2em;
    }
    p.won{
        font-size: 2.3em;
        
    }
       
}

@media(min-width:1800px) and (max-width:1900px){
    p.p-ticket{
        margin-top: 4rem!important;
        font-size: 1.2em;
    }
    img.balon{
        top: 34em!important;
        left: 10em;
    }
    h3.h-ganar{
        margin-top: 2rem!important;
        font-size: 2.5em;
    }
    img.jugador{
        position: relative;
        display: block;
        max-width:25.78vw;
        width: 25.78vw;
        margin: auto;
        padding: 5vw 0 0 0;
        right: 20.08vw;
        top: 5vw;
    }
    img.walmart{
        width: 40%;
    }
    img.logo2{
        width: 35%;
        margin-top: 2em!important;
    }
    img.logo-nfl2{
        width: 25%;
        margin-top: 3.4em!important;
    }
    a.sesion{
        font-size: 1.3em;
    }
    p.p-ticket{
        margin-top: 2rem!important;
        font-size: 1.2em;
    }  
    p.won{
        font-size: 2.3em;
        margin-top: 1em;
    } 
    img.bolsa{
        left: 5em;
    }

}

@media(min-width:1900px) and (max-width:1930px){
    p.p-ticket{
        margin-top: 2rem!important;
        font-size: 1.2em;
    }
    section.mecanica h2.title::before {
        content: "";
        background-color: #fff;
        width: 50%;
        height: 5px;
        position: absolute;
        top: 1.2em;
        
    }
    p.won{
        font-size: 2.3em;
        margin-top: 1em;
    }
    img.balon{
        top: 37em!important;
        left: 10em;
    }
    h3.h-ganar{
        margin-top: 4rem!important;
        font-size: 2.5em;
    }
    img.jugador{
        position: relative;
        display: block;
        max-width:25.78vw;
        width: 25.78vw;
        margin: auto;
        padding: 5vw 0 0 0;
        right: 20.08vw;
        top: 6vw;
    }
    img.bolsa{
        width: 40%;
        left: 20em;
    }
    h3.ingresa{
        font-size: 1.9em;
        line-height: 50px;
    }
    label.p-mecanica {
        font-size: 2em;
    }
    h2.title{
        font-size: 2em;
    } 
    span.red{
        left: -20px;
    }
    
    img.walmart{
        width: 40%;
    }
    img.logo2{
        width: 35%;
        margin-top: 2em!important;
    }
    img.logo-nfl2{
        width: 25%;
        margin-top: 3.4em!important;
    }
    a.sesion{
        font-size: 1.5em;
        display: inline-block;
        margin-left: -2em!important;
    }  
    

}
/* p.won{
    font-size: 1.8em;
} */
@media(min-width:576px) and (max-width:767px){
    p.won{
        font-size: 2.8em;
    }
}
@media(min-width:474px) and (max-width:575px){
    p.won{
        font-size: 2.4em;
    }
}
.mecanica{
    padding-left: 15px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}
.arriba a.ir-arriba img.flecha{
    display: flex;
    justify-content: end;
}
