html {
    overflow: auto;
}


@font-face {
    font-family: "endzone";
    src: url(../fonts/Endzone-Sans-Medium.ttf);
}

@font-face {
    font-family: "arvo-bold";
    src: url(../fonts/Arvo-Bold.ttf);
}

@font-face {
    font-family: "arvo-regular";
    src: url(../fonts/Arvo-Regular.ttf);
}

@font-face {
    font-family: "newslab";
    src: url(../fonts/Newslab.otf);
}

@font-face {
    font-family: "newslab-black";
    src: url(../fonts/newslab-black.otf);
}

img {
    max-width: 100%;
}

p.won {
    font-size: 1.8em;
}


.header {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.border-line {
    background-color: #07a236;
    height: 2px;
}

.border-line2 {
    background-color: #b90810;
    height: 2px;
}

.border-line3 {
    background-color: #ffffff;
    height: 2px;
}

@media(min-width:768px) {
    .border-line {
        height: 5px;
    }

    .border-line2 {
        height: 5px;
    }

    .border-line3 {
        height: 5px;
    }
}

a.sesion {
    border-radius: 30px;
    border: 2px solid #ffffff;
    letter-spacing: 1.3px;
    text-align: center;
    transition: .3s ease;
    font-size: 13.5px;
    margin-top: 3em;
    padding: 4px 10px;
    background: #007dc6;
    color: #fff;
    font-family: "arvo-bold";
}

a.sesion:hover {
    color: #ffffff;
}

.hero {
    background: url(../img/hero.png) no-repeat;

}

@media(min-width:576px) {
    .hero {
        background: url(../img-desktop/hero-2.png) no-repeat;

    }
}

@media(min-width:992px) {
    .hero {
        background-image: url(../img-desktop/hero-3.png)no-repeat;
        background-size: cover;
        width: 100%;

    }
}

span.yellow {
    color: #ffc220;
    text-transform: uppercase;
    font-family: "arvo-bold";
    font-weight: bold;
    line-height: 50px;
}

@media(min-width:768px) {
    span.yellow {
        font-size: 1.5em;
    }
}

div.logos {
    margin-top: 1em;
}



.logo-nfl {
    margin-top: .5em;
}

img.logo2 {
    width: 25%;
}

@media(min-width:992px) and (max-width:1364px) {
    .hero .logo2 {
        width: 20%;

    }
}

img.logo-nfl2 {
    width: 20%;
    display: inline-block;
    margin-top: 1em !important;
}

.p-ticket {
    font-size: 15.6px;
    color: #ffffff;
    line-height: 20px;
    font-family: 'Arvo', serif;
}

button.ticket {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #007dc6;
    color: #ffffff;
    font-size: 18px;
    font-family: "arvo-bold";
    text-transform: uppercase;
    padding: 15px 30px;
    text-align: center;
    letter-spacing: 1px;
    outline: none;
}

button.ticket:hover {
    color: #ffffff;
}

button.descubre {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #810208;
    color: #ffffff;
    font-size: 18px;
    font-family: "arvo-bold";
    text-transform: uppercase;
    padding: 15px 30px;
    text-align: center;
    letter-spacing: 1px;
    outline: none;
}

button.descubre:hover {
    color: #ffffff;
    outline: none;
}

@media(min-width:475px) and (max-width:482px) {
    button.descubre {
        display: block;
        margin: 0 auto;
    }

    button.ticket {
        display: block;
        margin: 0 auto;
    }
}

@media(min-width:483px) and (max-width:767px) {
    button.descubre {
        display: block;
        margin: 0 auto;
    }

    button.ticket {
        display: block;
        margin: 0 auto;
    }
}

img.walmart {
    width: 65%;
}

@media(min-width:768px) {
    img.walmart {
        width: 30%;
    }
}

h3.h-ganar {
    font-family: "arvo-bold";
    line-height: 20px;
}

h2.wal {
    font-family: "arvo-bold";
    padding-top: 2rem;
}

h1 span.yellow-1 {
    color: #ffc220;
    text-transform: uppercase;
    font-family: "arvo-bold";
    font-weight: bold;
    line-height: 50px;
    font-size: 1.2em;
}

/* MECANICA */
.mecanica {
    background: url(../img/fondo-lineas.png);
    background-size: cover;
}

img.bolsa {
    width: 65%;
    display: block;
    margin-top: 7rem;
    position: relative;

}

img.bolsa {
    -webkit-filter: drop-shadow(20px 20px 20px #ffff);
    filter: drop-shadow(10px 10px 10px #0000);
}


@media(min-width:1200px) {
    img.bolsa {
        width: 50%;
        margin-top: 6rem;
    }
}

h2.title {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "arvo-bold";
    text-align: center;
    position: relative;
    font-weight: bold;
}

section.mecanica h2.title::before {
    content: "";
    background-color: #fff;
    width: 70%;
    height: 5px;
    position: absolute;
    top: 1.2em;

}


span.red {
    background-color: #b90810;
    border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 10px;
    text-align: center;
    width: 1.6em;
    font-family: "arvo-bold";
    font-weight: 700;
    position: absolute;
    left: 18px;
    margin-top: 4px;

}

label.p-mecanica {
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-regular";
    font-weight: 400;
    list-style: none;
    display: inline-block;

}

h3.ingresa {
    text-align: center;
    color: #ffc220;
    font-size: 16px;
    line-height: 20px;
    font-family: "arvo-bold";
    letter-spacing: 1px;
}

@media(min-width:768px) {
    h3.ingresa {
        font-size: 15px;
    }
}

span.ganar {
    font-size: 1.5em;
    font-family: "arvo-bold";
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

button.ingresar {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #007dc6;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    padding: 10px 30px;
    text-align: center;
    letter-spacing: 1px;
}

button.ingresar:hover {
    color: #ffffff;
}


/* FOOTER */
footer {
    background-color: black;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

p.derechos {
    color: #a4a4a4;
    font-family: "endzone";
    font-size: 11.5px;
    line-height: 17px;

}

a.come {
    color: #ffc220;
    font-family: "endzone";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    outline: none;
}

.fa-chevron-down {
    color: #fff;
    display: inline-block;
}

@media (min-width: 320px) and (max-width:362px) {
    a.come {
        font-size: 10px;
    }

    .fa-chevron-down {
        font-size: 11px;
    }


}



.menu-footer-mobile {

    display: none;
}

li.movil {
    list-style: none;
    color: #a4a4a4;
    font-family: "endzone";
    font-size: 11.5px;
}

li.movil-come {
    color: #ffc220;
    list-style: none;
    font-family: "endzone";
    font-size: 11.5px;
    text-transform: uppercase;
}

a.a-movil:hover {
    text-decoration: none;

}

a.a-movil {
    outline: none;
}

/*PAGINA INICIAR SESION */
h5.inicia {
    color: #ffffff;
    text-align: center;
    font-family: "arvo-bold";
    letter-spacing: 1px;
}

p.inicia-2 {
    color: #ffffff;
    text-align: center;
    font-family: "arvo-regular";
    font-size: 15.2px;
}

button.facebook {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #007dc6;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    font-weight: 700;
    padding: 10px 10px;
    text-align: center;
    letter-spacing: 1px;
}

button.facebook:hover {
    color: #ffffff;
}


::-webkit-input-placeholder {
    color: #ffffff;
}

p.contraseña {
    color: #ffc220;
    font-family: "arvo-regular";

}

a.contra:hover {
    text-decoration: none;
}

button.conectar {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #810208;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    font-weight: 700;
    padding: 10px 50px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1em;
}

a.conecta:hover {
    text-decoration: none;
}

a.c-cuenta {
    color: #ffffff;
    text-decoration: none;
    font-family: "arvo-regular";
    letter-spacing: 1px;
}

/* PAGINA NUEVA CONTRASEÑA */
p.new-cña {
    color: #ffffff;
    text-align: center;
    font-family: "arvo-bold";
    font-size: 22px;
    letter-spacing: 1px;
}

p.p-cña {
    color: #ffffff;
    text-align: center;
    font-family: "arvo-regular";
    font-size: 17px;
}

button.enviar {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #810208;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    font-weight: 700;
    padding: 10px 55px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10em;
}

/* CORREO VALIDO*/
h5 {
    text-align: center;
    color: #ffffff;
    font-family: "arvo-bold";
}

p.valido {
    text-align: center;
    color: #ffffff;
    font-family: "arvo-regular";
    font-size: 14px;
}

button.ok {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #810208;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    font-weight: 700;
    padding: 10px 75px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 8em;
}

button.ok a {
    text-decoration: none;
    color: white;
}

/* RECUPERACION DE CONTRASÑEA */
h5.recupe {
    letter-spacing: 1px;
}

button.actualizar {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #810208;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    font-weight: 700;
    padding: 12px 50px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 8.5em;
}

/* FORMULARIO */
input.paterno::placeholder {
    color: #ffc220;
}

label.usuario {
    color: #ffffff;
    font-family: "arvo-regular";
}

input.correo {
    width: 100%;
    height: 100%;
    color: #ffc220;
    padding-top: 20px;
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: transparent;
}

input.correo1 {
    width: 100%;
    height: 100%;
    color: #ffc220;
    padding-top: 20px;
    border-color: #ffc220;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: transparent;
}

form label {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
}

form input:focus+.usuario .content-name,
form input:valid+.usuario .content-name {
    transform: translateY(-80%);
    color: #ffc220;
}

form input:focus+.usuario::after,
form input:valid+.usuario::after {
    transform: translateX(0%);
}

form label::after {
    content: "";
    position: absolute;
    height: 100%;
    left: 0px;
    width: 100%;
    bottom: 0px;
    transform: translate(-100%);
}

.content-name {
    position: absolute;
    bottom: 0px;

    left: 0px;
    transition: all 0.3s ease;
}

label.acepta {
    color: #ffffff;
    font-family: "arvo-regular";
    font-size: 13px;
}

label.acepta a {
    color: #007dc6;
    text-decoration: underline;
    font-family: "arvo-regular";
    font-size: 13px;
}

button.cuenta {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #810208;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    font-weight: 700;
    padding: 12px 45px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2em;
}

a.crear-cuenta:hover {
    text-decoration: none;
}

.checkbox-content {
    margin-top: .5em;
}


a span.aviso {
    font-family: "arvo-regular";
    text-decoration: underline;
    color: #007dc6;

}

input[type="radio"]+label:before {
    content: "";
    width: 1.1em;
    height: 1.1em;
    border-radius: 50px;
    background: #055d91;
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px;
    position: absolute;
    top: 5px;
    margin-top: 0px;

}

input[type="radio"]:checked+label:before {
    content: "";
    width: .1.1em;
    height: 1.1em;
    border-radius: 100px;
    background-color: #000f4d;
    border: #055d91 4px solid;
}

input[type="radio"] {
    display: none;
}

a.up {
    font-size: 13px;
    font-family: "arvo-regular";
    color: #ffffff;
    margin-left: 32px;

}

/* NUEVA CUENTA */
button.registra {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #810208;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    font-weight: 700;
    padding: 10px 25px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 8em;
    outline: none;
}

button.registra a {
    text-decoration: none;
    color: white;
}

/*Registra ticket */
p.d-ticket {
    text-align: center;
    color: #ffffff;
    font-family: "arvo-regular";
    font-size: 14px;
    letter-spacing: 1px;
}

.box {
    max-width: 97%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #007dc6;
}

p.n-ticket {
    color: #ffffff;
    font-family: "arvo-regular";
    font-size: 12px;
}

p.f-compra {
    color: #ffc220;
    font-family: "newslab";

}

input.box-1 {
    width: 2.24em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #ffc220;
    background: transparent;
    outline: none;
    color: #ffffff;
    font-family: "arvo-regular";
    font-size: 12px;
}

input.box-2 {
    width: 2.5em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #ffc220;
    background: transparent;
    outline: none;
    color: #ffffff;
    font-family: "arvo-regular";
    font-size: 12px;
}

@media(min-width:332px) {
    input.box-1 {
        font-size: 14px;
    }

    input.box-2 {
        font-size: 14px;
    }

    input.box-mes {
        font-size: 14px;
    }

    input.box-año {
        font-size: 14px;
    }

    input.box-dia {
        font-size: 14px;
    }
}

@media(min-width:475px) {
    input.box-1 {
        font-size: 16px;
    }

    input.box-2 {
        font-size: 16px;
    }

    input.box-mes {
        font-size: 16px;

    }

    input.box-año {
        font-size: 16px;
    }

    input.box-dia {
        font-size: 16px;
    }
}

input.box-dia {
    width: 2.3em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #ffc220;
    background: transparent;
    outline: none;
    color: #ffffff;
    font-family: "arvo-regular";
}

input.box-mes {
    width: 2.4em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #ffc220;
    background: transparent;
    outline: none;
    color: #ffffff;
    font-family: "arvo-regular";
}

input.box-año {
    width: 2.3em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #ffc220;
    background: transparent;
    outline: none;
    color: #ffffff;
    font-family: "arvo-regular";
}

div.box-3 {
    height: 11em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #055d91;
    border-style: dashed;
    color: #ffffff;
}

p.foto {
    color: #ffffff;
    margin-top: 4em;
    display: flex;
    justify-content: center;
    font-family: "arvo-regular";
}

a.s-archivo {
    color: #ffc220;
    font-family: "arvo-regular";
    text-decoration: underline;
    font-size: 10px;
}

p.f-valido {
    font-size: 8.5px;
    color: #ffffff;
    font-family: "arvo-regular";
}

button.e-ticket {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #810208;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    padding: 10px 35px;
    text-align: center;
    letter-spacing: 1px;
}

button.e-ticket a {
    color: #ffffff;
    text-decoration: none;
}


section.recuerda {
    background-color: #055d91;
}

label.list {
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    font-family: "arvo-regular";
}

span.lista {
    color: #ffc220;
    font-family: "arvo-regular";
}

/* INTENTA DE NUEVO*/
button.intenta {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #810208;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    padding: 15px 25px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 6em;
}

button.intenta a {
    color: #ffffff;
    text-decoration: none;
}

p.f-valido2 {
    font-size: 11px;
    color: #ffffff;
    font-family: "arvo-regular";

}

/* EXITO REGISTRO */
p.valido1 {
    text-align: center;
    color: #ffffff;
    font-family: "arvo-regular";
    font-size: 14px;
    letter-spacing: 1px;
}

span.link {
    color: #ffc220;
    font-family: "arvo-regular";
}

button.perfil {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #810208;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    padding: 15px 50px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 8em;
}

/* TERMINOS Y CONDICIONES */

p.condiciones {
    color: #ffffff;
    font-family: "arvo-regular";
    margin: 1em;
    padding: 1em;

}

.demo {
    height: 390px;
    text-align: center;
}

.simplebar-scrollbar:before {
    position: absolute;
    content: '';
    background: black;
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.simplebar-scrollbar::before {
    background: #000f4d;
    opacity: 1 !important;
    border-radius: 50px;
    height: 3.5em;
}

.simplebar-track.simplebar-vertical {
    background-color: #055d91;
    height: 70%;

}

.simplebar-track.simplebar-vertical {
    top: 3.2em;
    width: 15px;
    border-radius: 50px;
}

.simplebar-scrollbar {
    right: 0;
    width: 13px;
    left: 1px;
}

/* CONTACTO */
input.contacto {
    display: inline-block;
    margin-left: .9em;
    width: 90%;
    margin-bottom: 1em;
    background: transparent;
    color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #ffc220 2px solid;
    font-family: "arvo-regular";
    outline: none;
    font-size: 17px;
}

button.enviar-1 {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #810208;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    font-weight: 700;
    padding: 10px 55px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2em;
}



/*MODAL */
.modal-content {
    background-color: transparent;
    border: none;
}

.modal-body {
    padding: 0;
}

.modal {
    padding: 0 !important;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}

.modal-content {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 0;
}

span.nombre {
    color: #ffc220;
    font-family: "arvo-bold";
}

p.p-consulta {
    color: #ffffff;
    font-family: "arvo-regular";
    text-align: center;
    font-size: 15px;
}

h5.t-ticket {
    color: #ffc220;
    font-size-adjust: "arvo-bold";
}

input.no-ticket {
    width: 100%;
    padding: .5em;
    font-size: 10px;
    display: block;
    background: #0339eb;
    font-family: "arvo-regular";
    text-align: center;
    border: none;
    color: #ffffff;
    outline: none;
    height: 1.5em;
}

div.n-tick {
    width: 30%;
}

div.hora {
    width: 40%;
}

div.estatus {
    width: 20%;
}

p.p-titulo {
    color: #ffffff;
    font-family: "arvo-regular";
    font-size: 10px;
    text-align: left;
}

@media(min-width:474px) {
    input.no-ticket {
        width: 100%;
        font-size: 12.8px;
        margin: 0;
        padding: .9em;
    }

    p.p-titulo {
        font-size: 14px;
        text-align: center;
    }
    section.mecanica h2.title::before {
        content: "";
        background-color: #fff;
        width: 40%;
        height: 5px;
        position: absolute;
        top: 1.2em;
    
    
    }



}

button.i-ticket {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #007dc6;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    padding: 15px 35px;
    text-align: center;
    letter-spacing: 1px;
}

button.i-ticket a {
    color: #ffffff;
}

button.i-inicio {
    border-radius: 40px;
    border: 2px solid #ffffff;
    background: #810208;
    color: #ffffff;
    font-size: 16px;
    font-family: "arvo-bold";
    padding: 15px 60px;
    text-align: center;
    letter-spacing: 1px;
}

button.i-inicio a {
    color: #ffffff;
}

a.mi-perfil {
    border-radius: 30px;
    border: 2px solid #ffffff;
    letter-spacing: 1.3px;
    text-align: center;
    transition: .3s ease;
    font-size: 13.5px;
    margin-top: 1.5em;
    padding: 4px 32px;
    background: #007dc6;
    color: #fff;
    font-family: "arvo-bold";
}

a.cerrar-sesion {
    border-radius: 30px;
    border: 2px solid #ffffff;
    letter-spacing: 1.3px;
    text-align: center;
    transition: .3s ease;
    font-size: 13.5px;
    padding: 6px 12px;
    margin-top: 20px;
    background: #810208;
    color: #fff;
    font-family: "arvo-bold";
}

/*DESKTOP */
img.jugador {
    position: relative;
    display: block;
    max-width: 25.78vw;
    width: 25.78vw;
    margin: auto;
    padding: 5vw 0 0 0;
    right: 4.08vw;
    top: 5vw;
}

img.balon {
    position: relative;
    display: block;
    max-width: 15.78vw;
    margin: auto;
    top: 20em;

}

@media (min-width:1366px) {
    img.logo2 {
        margin-top: 1.5em;
    }

    img.logo-nfl2 {
        margin-top: 2.2em !important;
    }

}

@media(min-width:1200px) {
    img.balon {
        top: 24em;
    }

    a.sesion {
        font-size: 16px;
    }

    p.ticket {
        font-size: 16px;
    }

}

@media(min-width:1050px) and (max-width:1200px) {
    img.jugador {
        right: 6vw;

    }

}

@media(min-width:1200px) and (max-width:1366px) {
    img.jugador {
        right: 4.08vw;

    }
}

@media(min-width:1365px) {
    img.jugador {
        right: 8.08vw;
        top: 6vw;
        width: 25vw;
        padding: 4vw 0 0 0;

    }

    img.balon {
        top: 26em !important;
    }


}

/* DESKTOP LOGIN */
@media(min-width:320px) and (max-width:767px) {
    div.listas {
        text-align: center;
    }
}

@media(min-width:768px) and (max-width:992px) {
    label.list {
        font-size: 10px;
        line-height: 10px;

    }
    
section.mecanica h2.title::before {
    content: "";
    background-color: #fff;
    width: 90%;
    height: 5px;
    position: absolute;
    top: 1.2em;


}


    img.bolsa {
        width: 85%;
        display: block;
        margin-top: 7rem;
        position: relative;

    }
}

@media(min-width:992px) and (max-width:992px) {
    img.bolsa {
        width: 75%;
        display: block;
        margin-top: 7rem;
        position: relative;
        left: 3em;
    }
}

@media(min-width:767px) and (max-width:992px) {
    h5.inicia {
        font-size: 1.6rem;
    }

    .contenedor {
        max-width: 500px;
        margin: 0 auto;
    }

    .contenedor-tickets {
        max-width: 500px;
        margin: 0 auto;
    }

    .contenedor2 {
        max-width: 380px;
        margin: 0 auto;
    }

    .contenedor-recuerda {
        max-width: 550px;
        margin: 0 auto;
    }

    .contenedor-terminos {
        max-width: 600px;
        margin: 0 auto;
    }

    .contenedor-contrasena {
        max-width: 400px;
        margin: 0 auto;
    }

    .contraseña {
        font-size: 13px;
    }

    button.conectar {
        padding: 10px 30px;
    }

    a.c-cuenta {
        padding-bottom: .5em;
    }

    p.new-cña {
        font-size: 1.5rem;
    }

    p.p-cña {
        font-size: 13px;
    }

    h5.hecho {
        font-size: 2rem;
    }

    h5.recupe {
        font-size: 1.4rem;
    }

    a.up {
        font-size: 11px;
    }

    .box {
        max-width: 97%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #007dc6;
    }

    p.d-ticket {
        font-size: 11px;
    }

    label {
        margin-bottom: 0rem;
    }

    h5.error {
        font-size: 1.8em;
    }

    h5.exito {
        font-size: 2em;
    }

    .simplebar-mask {
        bottom: 5em;
        top: 2em;
    }

    input.correo1 {
        font-family: "arvo-regular";
    }

    button.i-inicio a {
        font-size: 15px;
    }

    button.i-ticket {
        border-radius: 40px;
        border: 2px solid #ffffff;
        background: #007dc6;
        color: #ffffff;
        font-size: 15px;
        font-family: "arvo-bold";
        padding: 10px 20px;
        text-align: center;
        letter-spacing: 1px;
    }

    button.i-inicio {
        border-radius: 40px;
        border: 2px solid #ffffff;
        background: #810208;
        color: #ffffff;
        font-size: 15px;
        font-family: "arvo-bold";
        padding: 10px 40px;
        text-align: center;
        letter-spacing: 1px;
    }

    h5.name {
        font-size: 1.9em;
    }

    p.p-titulo {
        text-align: left;
    }

    h3.ingresa {
        font-size: 19px;
        line-height: 25px;
    }


}

@media(min-width:993px) and (max-width:1200px) {
    h5.inicia {
        font-size: 1.6rem;
    }

    p.new-cña {
        font-size: 1.5rem;
    }

    p.p-cña {
        font-size: 12.8px;
    }

    .contenedor {
        max-width: 500px;
        margin: 0 auto;
    }

    .contenedor-tickets {
        max-width: 700px;
        margin: 0 auto;
    }

    .contenedor2 {
        max-width: 380px;
        margin: 0 auto;
    }

    .contenedor-contrasena {
        max-width: 400px;
        margin: 0 auto;
    }

    .contenedor-terminos {
        max-width: 640px;
        margin: 0 auto;
    }

    .simplebar-mask {
        bottom: 5em;
    }


    .contraseña {
        font-size: 13px;
    }

    button.conectar {
        padding: 10px 30px;
    }

    a.c-cuenta {
        padding-bottom: .5em;
    }

    h5.hecho {
        font-size: 2rem;
    }

    h5.inicia {
        font-size: 1.8em;
    }

    a.up {
        font-size: 11px;
    }

    input.correo1 {
        font-family: "arvo-regular";
    }

    button.i-ticket {
        border-radius: 40px;
        border: 2px solid #ffffff;
        background: #007dc6;
        color: #ffffff;
        font-size: 15px;
        font-family: "arvo-bold";
        padding: 10px 20px;
        text-align: center;
        letter-spacing: 1px;
    }

    button.i-inicio {
        border-radius: 40px;
        border: 2px solid #ffffff;
        background: #810208;
        color: #ffffff;
        font-size: 15px;
        font-family: "arvo-bold";
        padding: 10px 40px;
        text-align: center;
        letter-spacing: 1px;
    }

    h5.name {
        font-size: 1.9em;
    }

    p.p-titulo {
        text-align: left;
    }

    img.bolsa {
        width: 65%;
        display: block;
        margin-top: 7rem;
        position: relative;
        left: 5em;
    }
}

@media(min-width:1200px) {
    h5.inicia {
        font-size: 1.8rem;
    }
    button.conectar {
        padding: 10px 90px;
    }

    .contenedor {
        max-width: 520px;
        margin: 0 auto;
    }

    .contenedor-tickets {
        max-width: 700px;
        margin: 0 auto;
    }

    .contenedor2 {
        max-width: 380px;
        margin: 0 auto;
    }

    .contenedor-contrasena {
        max-width: 470px;
        margin: 0 auto;
    }

    h5.registro {
        font-size: 2em;
    }

    .contenedor-recuerda {
        max-width: 800px;
        margin: 0 auto;
    }

    .contenedor-terminos {
        max-width: 650px;
        margin: 0 auto;
    }

    .simplebar-mask {
        bottom: 5em;
        top: 1.5em
    }

    h5.recuerda {
        font-size: 2em;
    }

    label.list {
        font-size: 15px;
    }

    p.new-cña {
        font-size: 2rem;
    }

    p.p-cña {
        font-size: 16px;

    }

    .contraseña {
        font-size: 13px;
    }

    button.conectar {
        padding: 10px 30px;
    }

    a.c-cuenta {
        padding-bottom: .5em;
    }

    h5.hecho {
        font-size: 2rem;
    }

    h5.recupe {
        font-size: 1.85rem;
    }

    label.usuario {
        font-size: 20px;
    }

    input.correo {
        font-size: 23px;

    }

    h5.inicia {
        font-size: 2em;
    }

    a.up {
        font-size: 11px;
    }

    .cerrar {
        position: relative;
    }

    /* .cerrar::before{
    content: "";
    background-image: url(../img/cerrar.png);
    position: absolute;
    width: 2.4em;
    height: 2.4em;
    left: 26em;
    cursor: pointer;
} */
    div.box-3 {
        height: 14em;

    }

    p.foto {
        margin-top: 6em;
    }

    h5.error {
        font-size: 2em;
    }

    h5.exito {
        font-size: 2em;
    }

    input.correo1 {
        font-size: 20px;
        font-family: "arvo-regular";
    }

    p.p-titulo {
        text-align: left;
    }

    button.i-ticket {
        border-radius: 40px;
        border: 2px solid #ffffff;
        background: #007dc6;
        color: #ffffff;
        font-size: 15px;
        font-family: "arvo-bold";
        padding: 10px 20px;
        text-align: center;
        letter-spacing: 1px;
    }

    button.i-inicio {
        border-radius: 40px;
        border: 2px solid #ffffff;
        background: #810208;
        color: #ffffff;
        font-size: 15px;
        font-family: "arvo-bold";
        padding: 10px 40px;
        text-align: center;
        letter-spacing: 1px;
    }

    h5.name {
        font-size: 1.9em;
    }

    h3.ingresa {
        font-size: 24px;
        line-height: 25px;
    }

    label.p-mecanica {
        font-size: 20px;
    }

    h2.title {
        font-size: 2.3em;
    }

    img.bolsa {
        width: 65%;
        display: block;
        margin-top: 5rem;
        position: relative;

    }

}





/*nuevos Ajustes */
@media(min-width:768px) and (max-width:992px) {
    label.p-mecanica {
        font-size: .8em;
    }

    h3.ingresa {
        font-size: .9em;
        line-height: 20px;
    }

    img.bolsa {
        width: 75%;
        -webkit-filter: drop-shadow(0px 0px 0px #ffff);
        filter: drop-shadow(5px 5px 15px #ffffff);

    }
}

@media(min-width:993px) and (max-width:1199px) {
    label.p-mecanica {
        font-size: 1em;
    }

    h3.ingresa {
        font-size: 1.1em;
        line-height: 25px;
    }

    img.bolsa {
        width: 75%;
        -webkit-filter: drop-shadow(0px 0px 0px #ffff);
        filter: drop-shadow(5px 5px 15px #ffffff);

    }
}

@media(min-width:1200px) {
    label.p-mecanica {
        font-size: 1.25em;
    }


    h3.ingresa {
        font-size: 1.4em;
        line-height: 30px;
    }

    img.bolsa {
        width: 75%;
        -webkit-filter: drop-shadow(0px 0px 3px #ffff);
        position: relative;
        z-index: 1;
        

    }
    img.brillo{
        position: absolute;
        bottom: 0em;
    }
    img.bolsa{
        position: relative;
    }
  

    img.flecha {
        margin: 0 auto;
    }

    h3.h-ganar {
        font-size: 1.8em;
        margin-top: 1.5rem !important;
    }

    p.won {
        font-size: 1.8em;

    }
}

@media(min-width:1200px) and (max-width:1400px) {
    img.bolsa {
        left: 10em;
        width: 50%;
    }
    section.mecanica h2.title::before {
        content: "";
        background-color: #fff;
        width: 79%;
        height: 5px;
        position: absolute;
        top: 1.2em;
    
    }
}

@media(min-width:1400px) and (max-width:1500px) {
    h3.h-ganar {
        margin-top: 3rem !important;
        font-size: 2em;
    }

    img.balon {
        position: relative;
        display: block;
        max-width: 15.78vw;
        margin: auto;
        top: 28em !important;


    }
    section.mecanica h2.title::before {
        content: "";
        background-color: #fff;
        width: 78%;
        height: 5px;
        position: absolute;
        top: 1.2em;
    
    }
    img.bolsa {
        width: 50%;
        left: 10em;
    }

    h3.ingresa {
        font-size: 1.4em;
        line-height: 30px;
    }

    label.p-mecanica {
        font-size: 1.2em;
    }

}

@media(min-width:1500px) and (max-width:1599px) {
    p.p-ticket {
        margin-top: rem !important;
    }

    img.balon {
        top: 30em !important;
    }

    h3.h-ganar {
        margin-top: 4rem !important;
        font-size: 2em;
    }

    p.won {
        font-size: 2em;

    }
    section.mecanica h2.title::before {
        content: "";
        background-color: #fff;
        width: 74%;
        height: 5px;
        position: absolute;
        top: 1.2em;
    
    }
    img.bolsa {
        width: 50%;
        left: 15em;
    }

    h3.ingresa {
        font-size: 1.7em;
        line-height: 50px;
    }

    label.p-mecanica {
        font-size: 1.5em;
    }
}

@media(min-width:1600px) and (max-width:1700px) {
    p.p-ticket {
        margin-top: 3rem !important;
    }

    img.balon {
        top: 34em !important;
        left: 5em;
    }

    h3.h-ganar {
        margin-top: 3rem !important;
        font-size: 2em;
    }

    img.jugador {
        position: relative;
        display: block;
        max-width: 25.78vw;
        width: 25.78vw;
        margin: auto;
        padding: 5vw 0 0 0;
        right: 15.08vw;
        top: 5vw;
    }
    
    
}

@media(min-width:1600px) and (max-width:1700px) {

    img.balon {
        top: 34em !important;
        left: 5em;
    }

    h3.h-ganar {
        margin-top: 4rem !important;
        font-size: 2em;
    }

    img.jugador {
        position: relative;
        display: block;
        max-width: 25.78vw;
        width: 25.78vw;
        margin: auto;
        padding: 5vw 0 0 0;
        right: 15.08vw;
        top: 5vw;
    }

    img.walmart {
        width: 40%;
    }

    p.won {
        font-size: 2em;

    }
    section.mecanica h2.title::before {
        content: "";
        background-color: #fff;
        width: 74%;
        height: 5px;
        position: absolute;
        top: 1.2em;
    
    }
    img.bolsa {
        width: 50%;
        left: 20em;
    }

    h3.ingresa {
        font-size: 1.9em;
        line-height: 50px;
    }

    label.p-mecanica {
        font-size: 1.7em;
    }
}

@media(min-width:1700px) and (max-width:1800px) {
    p.p-ticket {
        margin-top: 3rem !important;
    }

    img.balon {
        top: 34em !important;
        left: 5em;
    }

    h3.h-ganar {
        margin-top: 6rem !important;
        font-size: 2em;
    }

    img.jugador {
        position: relative;
        display: block;
        max-width: 25.78vw;
        width: 25.78vw;
        margin: auto;
        padding: 5vw 0 0 0;
        right: 15.08vw;
        top: 5vw;
    }

    img.walmart {
        width: 40%;
    }

    p.p-ticket {
        margin-top: 2rem !important;
        font-size: 1.2em;
    }

    p.won {
        font-size: 2.3em;

    }
    section.mecanica h2.title::before {
        content: "";
        background-color: #fff;
        width: 73%;
        height: 5px;
        position: absolute;
        top: 1.2em;
    
    }
    img.bolsa {
        width: 50%;
        left: 20em;
    }

    h3.ingresa {
        font-size: 1.7em;
        line-height: 50px;
    }

    label.p-mecanica {
        font-size: 1.8em;
    }


}

@media(min-width:1800px) and (max-width:1900px) {
    p.p-ticket {
        margin-top: 4rem !important;
        font-size: 1.2em;
    }
    section.mecanica h2.title::before {
        content: "";
        background-color: #fff;
        width: 70%;
        height: 5px;
        position: absolute;
        top: 1.2em;
    
    }


    img.balon {
        top: 34em !important;
        left: 10em;
    }

    h3.h-ganar {
        margin-top: 2rem !important;
        font-size: 2.5em;
    }

    img.jugador {
        position: relative;
        display: block;
        max-width: 25.78vw;
        width: 25.78vw;
        margin: auto;
        padding: 5vw 0 0 0;
        right: 20.08vw;
        top: 5vw;
    }

    img.walmart {
        width: 40%;
    }

    img.logo2 {
        width: 35%;
        margin-top: 2em !important;
    }

    img.logo-nfl2 {
        width: 25%;
        margin-top: 3.4em !important;
    }

    a.sesion {
        font-size: 1.3em;
    }

    p.p-ticket {
        margin-top: 2rem !important;
        font-size: 1.2em;
    }

    p.won {
        font-size: 2.3em;
        margin-top: 1em;
    }

   
    img.bolsa {
        width: 50%;
        left: 20em;
    }

    h3.ingresa {
        font-size: 1.9em;
        line-height: 50px;
    }

    label.p-mecanica {
        font-size: 2em;
    }

}

@media(min-width:1900px) and (max-width:1930px) {
    p.p-ticket {
        margin-top: 2rem !important;
        font-size: 1.2em;
    }
    section.mecanica h2.title::before {
        content: "";
        background-color: #fff;
        width: 70%;
        height: 5px;
        position: absolute;
        top: 1.2em;
    
    }
    footer{
        font-size: 1.3em;
    }


    p.won {
        font-size: 2.3em;
        margin-top: 1em;
    }

    img.balon {
        top: 37em !important;
        left: 10em;
    }

    h3.h-ganar {
        margin-top: 4rem !important;
        font-size: 2.5em;
    }

    img.jugador {
        position: relative;
        display: block;
        max-width: 25.78vw;
        width: 25.78vw;
        margin: auto;
        padding: 5vw 0 0 0;
        right: 20.08vw;
        top: 6vw;
    }

    img.bolsa {
        width: 40%;
        left: 20em;
    }

    h3.ingresa {
        font-size: 1.9em;
        line-height: 50px;
    }

    label.p-mecanica {
        font-size: 2em;
    }

    h2.title {
        font-size: 2em;
    }

    span.red {
        left: -20px;
    }

    img.walmart {
        width: 40%;
    }

    img.logo2 {
        width: 35%;
        margin-top: 2em !important;
    }

    img.logo-nfl2 {
        width: 25%;
        margin-top: 3.4em !important;
    }

    a.sesion {
        font-size: 1.5em;
        display: inline-block;
        margin-left: -2em !important;
    }


}

/* p.won{
    font-size: 1.8em;
} */
@media(min-width:576px) and (max-width:767px) {
    p.won {
        font-size: 2.8em;
    }
}

@media(min-width:474px) and (max-width:575px) {
    p.won {
        font-size: 2.4em;
    }
}

.mecanica {
    padding-left: 15px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

.arriba a.ir-arriba img.flecha {
    display: flex;
    justify-content: end;
}
