<div class="modal fade remove-from-body" id="modal-inicio-sesion" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="mecanica pb-md-5">
                    <div class="contenedor">
                        <div class="container">
                            <div class="row justify-content-end ml-auto mr-auto">
                                <a href="#" data-dismiss="modal" class="d-block d-md-none mt-5 mr-5"><img src="<?= base_url('assets/img/cerrar.png') ?>" alt=""></a>
                            </div>
                            <div class="row logos text-center mx-auto d-block mt-5 ">
                                <a href="<?= base_url() ?>"><img class="logo" src="<?= base_url('assets/img/logo_ruffles.png') ?>" alt="logo" /></a>
                                <a href="<?= base_url() ?>"><img class="logo-nfl" src="<?= base_url('assets/img/logo_nfl.png') ?>" alt="logo" /></a>
                                <a href="#" data-dismiss="modal"
                                    class="d-none d-sm-none d-md-inline float-md-righ float-lg-right mt-4 ml-5"><img
                                        src="<?= base_url('assets/img/cerrar.png') ?>" alt=""></a>

                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col mt-5">
                                    <h5 class="inicia">Antes, debes iniciar sesión</h5>
                                    <button
                                        class="btn facebook mx-auto d-none mt-4 dn d-sm-none d-md-block">Conectar
                                        con facebook</button>
                                    <p class="inicia-2 pt-md-4">O bien puedes iniciar sesión con tu cuenta</p>
                                    <button
                                        class="btn facebook mx-auto d-block mt-4 d-block d-sm-block d-md-none" onclick="javascript:login_with_facebook()" type="button">Conectar
                                        con facebook</button>
                                  
                                        <form autocomplete="off" onsubmit="return false;">
                                            <div class="pl-2 pl-lg-0 mx-auto d-block mt-5 position-relative container">
                                                <div class="form-group mx-auto d-block">
                                                    <input type="text" class="correo  mx-auto d-block" required id="txtEmailLogin">
                                                    <label class="usuario ">
                                                        <span class="content-name">Nombre de usuario</span>
                                                    </label>
                                                    <p class="input-error"></p>
                                                </div>
                                            </div>
                                            <div class=" pl-2 pl-lg-0 mx-auto d-block mt-3 position-relative container"
                                                action="">
                                                <div class="form-group mx-auto d-block">
                                                    <input type="password" class="correo mx-auto d-block" id="txtPasswordLogin" required>
                                                    <label class="usuario ">
                                                        <span class="content-name">Contraseña</span>
                                                    </label>
                                                    <p class="input-error"></p>
                                                </div>
                                            </div>
                                        </form>
                                
                                </div>
                            </div>
                            <div class="contenedor2">
                                <div class="row mt-3">
                                    <div class="col-md-6 ">
                                        <a class="contra no-link" href="#" onclick="javascript:init_recover_password()">
                                            <p class="pl-1 contraseña mt-md-2">¿Olvidaste tu contraseña?</p>
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="conectar mx-auto d-block mt-4 mt-md-0 text-white" id="btn-normal-login">Conectar</button>
                                    </div>

                                </div>
                                <div class="row mt-3">
                                    <div class="col mb-5 ">
                                        <a class="c-cuenta pl-1 no-link" href="#" onclick="javascript:show_register_modal()">+ Crear cuenta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <?= load_templates('templates/footer.php') ?>
            </div>
        </div>
    </div>
</div>